:root {
  --primary: #ff6600ff;
    --black: #262626;
    --white: #FFF;
    --main-font: 'Outfit', sans-serif;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 2rem;
  font-family: var(--main-font);
  line-height: 1.5;
}
img {
  max-width: 100%;
  height: auto;
}
[class*="container"], 
main {
  width: min(95%, 120rem);
  margin: 3rem auto;
}
[class*="heading"] {
  font-size: 4rem;
  text-align: center;
  font-weight: 900;
  color: var(--primary);
  margin: 5rem 0;
}

.nav{
  margin-top: 5rem;
  display: flex;
  gap: 2rem;
  flex-direction: column;
}
@media (min-width: 768px) {
  .nav{
      margin-top: 0;
      flex-direction: row;
  }
}
.nav a{
  color: var(--white);
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: .5rem;
  transition-property: background-color;
  transition-duration: 300ms;
  text-align: center;
}

.error,
.error-link{
font-size: 2.4rem;
text-align: center;
margin-top: 5rem;
}
.error-link{
  font-size: 1.8;
  display: block;
  text-decoration: none;
  color: var(--primary);
}